#outerBox {
  height: 363px;
  width: 374px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #484848;
  font-size: 14px;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #e4e4e4;
}

#topBox {
  height: 65px;
  border-bottom: 1px solid #EBEBEB;
}

#priceBox {
  margin-top: 16px;
}

span#price {
  line-height: 26px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72);
  font-weight: 800;
  font-size: 22px;

}

span#perNight {
  font-weight: 600;
    margin: 0px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    text-transform: undefined;
    color: #484848;
    display: inline;
}

label {
  font-weight: 600;
  margin: 0px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
  height: 22px;
  padding-bottom: 4px;
}

input {
  height: 100%;
  border: 0px;
  font-size: 14px;
}

#formFields {
  height: 190px;
  /* border: 1px dotted #e4e4e4; */
}

#datesInput {
  height: 40px;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#fromDate {
  width: 50%;
  padding: 8px;
}

#toDate {
  width: 50%;
  padding: 8px;
}

#guestsInput {
  height: 40px;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  padding: 8px;
}

input#guests-input {
  width: 100%;
}

#submitButton {
  height: 50px;
  border: 1px dotted #e4e4e4;
}

button#book {
  width: 100%;
  background: #FF5A5F;
  border-color: transparent;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 5px;
  font-size: 14px;
}