.book {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

span.book {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
}

div#guests-box {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(228, 231, 231);
  border-radius: 3px;
}

div.age-group {
  display: flex; 
  flex-flow: row nowrap;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 32px;
  justify-content: space-between;
}

button.circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-color: rgb(0, 132, 137);
}


span.age-left {
  flex-grow: 1;
}

span.age-right {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

div#max-guests {
  word-wrap: break-word;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: normal;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
  font-weight: 400;
}

#close {
  display: flex;
  justify-content: flex-end;
  color: var(--color-text-link, #008489);
  font-family: var(--font-font_family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif);
}

div.inline {
  width: 32%;
}
